/*-- scss:defaults --*/

$presentation-title-slide-text-align: left;

$callout-color-note: #006909;
$callout-color-tip: #006909;
$callout-color-caution: #B44522;
$callout-color-warning: #B44522;
$callout-color-important: #B44522;

/*-- scss:rules --*/

/* Google Fonts ----- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Body ----- */

body {
  color: $brand-gray;
}

/* Root ----- */

:root {
  --r-heading-margin: 0 0 25px 0;
  --r-selection-background-color: #006909;
  --r-selection-color: #FFFFFF;
}

/* Headings ----- */

h2 {
  margin-bottom: 2rem;
}

/* Images ----- */

.circular-image-1 {
  display: inline-block;
  text-align: center;
  width: 7em;
  border-radius: 50%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.circular-image-2 {
  display: inline-block;
  text-align: center;
  width: 6em;
  border-radius: 50%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.circular-image-3 {
  display: inline-block;
  text-align: center;
  width: 7em;
  border-radius: 50%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.circular-image-3-caption {
  font-size: 0.6em;
  font-weight: bold;;
  color: $brand-red;
}

.logo {
  display: inline-block;
  text-align: center;
  margin-top: 1.5rem;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

/* Colors ----- */

.brand-green {
  color: $brand-green;
}

.brand-red {
  color: $brand-red;
}

.brand-brown {
  color: $brand-brown;
}

.brand-gray {
  color: $brand-gray;
}

/* Controls ----- */

.reveal .controls button {
  color: $brand-brown;
}

/* Paged Table ----- */

.pagedtable-footer {
  font-size: large;
}

/* Slide Numbers ----- */

.reveal .slide-number {
  position: absolute !important;
  top: var(--r-controls-spacing) !important;
  right: var(--r-controls-spacing) !important;
  font-size: 0.5em !important;
  color: $brand-brown !important;
}

.reveal .slide-number>a[href*='title-slide'] {
  display: none;
}

/* Others ----- */

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: bold;
}

.bold-extra {
  font-weight: 800;
}

.bold-black {
  font-weight: 900;
}

